# Environment variables
.env

# Python caches and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual Environments
.venv/
venv/
env/
ENV/

# Temporary generated audio files
temp_audio/*
!temp_audio/.gitkeep

# IDE files
.vscode/
.idea/
.gemini/
